[Unit]
Description=COSMIC Session Manager
Documentation=man:cosmic-session(1)
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
Wants=swayidle.service cosmic-notifications.service waybar.service cosmic-ext-alternative-startup.service

[Service]
Type=simple
ExecStart=/usr/bin/niri
ExecStartPost=/usr/bin/cosmic-session niri
ExecStopPost=/usr/bin/cosmic-session stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

