[Unit]
Description=COSMIC Session Manager
Documentation=man:cosmic-session(1)
After=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
ExecStart=/usr/bin/cosmic-session cosmic-ext-alternative-startup niri
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
