[Unit]
Description=COSMIC Background Theme Service
Documentation=man:cosmic-ext-bg-theme(1)
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
Environment=XDG_SESSION_TYPE=wayland
ExecStart=/usr/bin/cosmic-ext-bg-theme
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target