[Unit]
Description=COSMIC Alternative Startup Service
PartOf=graphical-session.target
After=graphical-session.target display-environment.service
Requisite=graphical-session.target
Wants=display-environment.service
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Environment=XDG_SESSION_TYPE=wayland
Environment=COSMIC_SESSION_SOCKET_DIR=%t/cosmic-session
ExecStart=/usr/bin/cosmic-ext-alternative-startup
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
