[Unit]
Description=Portal service (GTK/GNOME implementation)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.gtk
Environment=GDK_BACKEND=wayland
ExecStart=/usr/libexec/xdg-desktop-portal-gtk

[Install]
WantedBy=graphical-session.target
