[Unit]
Description=Portal service (COSMIC implementation)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.cosmic
Environment=GDK_BACKEND=wayland
Environment=XDG_SESSION_TYPE=wayland
ExecStart=/usr/libexec/xdg-desktop-portal-cosmic
Restart=on-failure
RestartSec=1

[Install]
WantedBy=graphical-session.target
Alias=org.freedesktop.impl.portal.desktop.cosmic.service